<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cn.com.fubon.mybatis.mapper.PersonMapper">
  <select id="SelectOnePerson" resultType="cn.com.fubon.mybatis.domain.Person">
    select * from Person where id = #{id}
  </select>
  <select id="SelectAllPerson" resultType="cn.com.fubon.mybatis.domain.Person">
    select * from Person
  </select>
  <insert id="Save" parameterType="cn.com.fubon.mybatis.domain.Person">
    insert into person(name,age) values(#{name},#{age})
  </insert>
  <update id="Update" parameterType="cn.com.fubon.mybatis.domain.Person">
    update person set name=#{name} ,age=#{age} where id=#{id}
  </update>
  <delete id="Delete" parameterType="Integer">
    delete from person where id=#{id}
  </delete>
  
  <!-- one to many -->
  <resultMap type="cn.com.fubon.mybatis.domain.Person" id="PersonResultMap">
	<result property="id" column="id" />
	<result property="name" column="name" />
	<result property="age" column="age" />
	<collection property="houses" ofType="cn.com.fubon.mybatis.domain.House">
	  <id property="id" column="house_id" javaType="Integer" jdbcType="INTEGER"/>    
      <result property="name" column="house_name" javaType="String" jdbcType="VARCHAR"/>
      <result property="startDate" column="startDate" javaType="Date" jdbcType="DATE"/> 
	</collection>
  </resultMap>
  <select id="getPerson" resultMap="PersonResultMap" parameterType="Integer">
		SELECT a.id,a.name,a.age,b.id as house_id,b.name as house_name,b.startDate
		FROM person a, house b
		WHERE a.id=b.person_id AND a.id=#{p_id} 
  </select>
  
  <!-- many to one -->
  <select id="getHouse" resultMap="PersonResultMap" parameterType="Integer">
		SELECT a.id,a.name,a.age,b.id as house_id,b.name as house_name,b.startDate
		FROM person a, house b
		WHERE a.id=b.person_id AND b.id=#{h_id} 
  </select>
  
  <!-- many to many
  <resultMap type="cn.com.fubon.mybatis.domain.Group" id="GroupResultMap_1">
	<result property="id" column="id" />
	<result property="name" column="group_name" />
	<collection property="persons" resultMap="PersonResultMap" ofType="cn.com.fubon.mybatis.domain.Person">
		<id property="id" column="person_id" />
		<result property="name" column="person_name" />
		<result property="age" column="age" />
		<association property="groups" resultMap="GroupResultMap_1"/>
	</collection>
  </resultMap>
  <select id="getGroup" resultMap="GroupResultMap_1"
	parameterType="Integer">
	SELECT *
	FROM `group`
	WHERE id=#{id}
  </select>
   -->
   
  
	<!-- 根据一个group_id,查看这个组下的所有person-->
	<resultMap type="cn.com.fubon.mybatis.domain.Person" id="PersonResultMap_2">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
	</resultMap>
	<select id="getPersonsByGroupId" resultMap="PersonResultMap_2" parameterType="Integer">
		SELECT a.*, b.group_id
		FROM person a, person_group b
		WHERE a.id=b.person_id AND b.group_id=#{group_id}
	</select>  
	
	<!-- 根据一个person_id,查看这个person归属的所有组-->
	<resultMap type="cn.com.fubon.mybatis.domain.Group" id="GroupResultMap_2">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
	</resultMap> 
	<select id="getGroupsByPersonId" resultMap="GroupResultMap_2" parameterType="Integer">
		SELECT a.*, b.person_id
		FROM `group` a, person_group b
		WHERE a.id=b.group_id AND b.person_id=#{person_id}
	</select>	
</mapper>